@import 'variables';

.ant-btn {
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-danger {
  color: red;
  font-size: 16px;
}

.btn-edit{
  color:rgb(70, 236, 156);
  font-size: 16px;
}
