@import 'variables';
.ant-btn{
    font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;

    &-default{
        &:not(:disabled):hover{
            background:$primary-color ;
             border: 1px solid $primary-color;
    color: white
        }
    }

}