@mixin make-headings($headings) {
    @each $heading, $font-size in $headings {
      .#{$heading} {
        font-size: $font-size !important;
        font-weight: 700 !important;
      }
    }
  }

  @mixin make-bodies($bodies) {
    @each $body, $font-size in $bodies {
      .#{$body} {
        font-size: $font-size !important;
        font-weight: 400 !important;
      }
    }
  }